


a{
  text-decoration: none;
}

.card{
  animation: show 1.5s;
}

@keyframes show {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


@media (max-width: 400px) {
  .card .title {
    font-size: 18px;
  }
  .card .img {
    height: 150px;
  }
}

@media (max-width: 800px) {
    .card .title {
      font-size: 14px;
      padding: 1px;
    }
    .card .img {
      height: 150px;
    }
  }
